<h1>Listing Questions</h1>

<%= link_to 'New Question', new_question_path %>

<%= smart_listing_controls_for(:questions,  {class: "form-inline text-right"}) do %>
  <%= render "smart_listing/filter" %>
<% end %>

<%= smart_listing_render(:questions) %>
