<h1>New Question</h1>

<%= render 'form' %>

<%= link_to 'Back', questions_path %>

<h3>Helpful strings:</h3>

<tt>["Strongly disagree", "Disagree", "Neither agree nor disagree", "Agree", "Strongly agree"]</tt><br>
<tt>["No", "Yes", "Prefer not to say"]</tt>
