$card-spacing: 0.5em

.card
  color: white
  border: 1px dotted #aaa
  margin-bottom: 1em
  display: inline-block

  @media print
    &:nth-of-type(4)
      page-break-after: always

  &__region-0
    background-color: $hulme
  &__region-1
    background-color: $burnage
  &__region-2
    background-color: $moston
  &__region-3
    background-color: $milesplatting

  &__front
    border-bottom: 1px solid #aaa

  &__front, &__back
    padding: $card-spacing
    width: 87mm
    height: 55mm
    box-sizing: border-box

  &__back
    position: relative
    transform: rotate(180deg)

  &__field
    label
      width: 5em
      float: left
      padding-top: 0.25em
    span
      display: block
      overflow: hidden
      background-color: white
      color: black
      padding: 0.25em

  &__qr
    float: right

  &__region
    margin-top: 0
    line-height: 1.1em

  &__meta
    position: absolute
    bottom: $card-spacing
    left: $card-spacing
    right: $card-spacing
    width: auto
