.map
  height: 750px
  width: 100%
  &__icon
    position: absolute
    width: 2em
    height: 2em
    text-align: center
    top: 3px
    left: 0
    background-color: $hulme-light
    border-color: $hulme
    border-radius: 50%
    border-width: 1px
    border-style: solid
    line-height: 2
    font-size: 0.8em
    color: transparent
    &--region-burnage
      background-color: $burnage-light
      border-color: $burnage
    &--region-hulme-moss-side
      background-color: $hulme-light
      border-color: $hulme
    &--region-moston
      background-color: $moston-light
      border-color: $moston
    &--region-miles-platting
      background-color: $milesplatting-light
      border-color: $milesplatting

.leaflet-div-icon
  background-color: transparent
  border-width: 0
