<h1>Age Friendly Neighbourhoods API</h1>

<h2>Events</h2>

<p>View upcoming events</p>

<p><tt>GET https://mafn.herokuapp.com/api/upcoming/{start}</tt></p>

<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Type</td>
      <td>Required</td>
      <td>Description</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Start</td>
      <td>DateTime</td>
      <td>No</td>
      <td>Start date. Defaults to today's date</td>
    </tr>
  </tbody>
</table>
