<h1>Listing Question Responses</h1>

<p>NB: search only operating on responses for now!</p>

<%= link_to 'New Question response', new_question_response_path %>

<%= smart_listing_controls_for(:question_responses,  {class: "form-inline text-right"}) do %>
  <%= render "smart_listing/filter" %>
<% end %>

<%= smart_listing_render(:question_responses) %>
