<h1>Listing Locations</h1>

<%= link_to 'New Location', new_location_path %>

<%= smart_listing_controls_for(:locations,  {class: "form-inline text-right"}) do %>
  <%= render "smart_listing/filter" %>
<% end %>

<%= smart_listing_render(:locations) %>
