<h1>Exports</h1>

<ul>
  <li><%= link_to "Events", events_exports_path(format: "xlsx") %></li>
  <li><%= link_to "Events demographics", events_demographics_exports_path(format: "xlsx") %></li>
  <li><%= link_to "Members", members_exports_path(format: "xlsx") %></li>
</ul>
